

.header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    background-color: var(--clr-dark);
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align:start;

}
.header__title{
    color: var(--clr-white);
    font-size: 2rem;
    font-weight: 600;
}
.header__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
