


.form__input {
    position: relative;
    /* padding: 10px 20px; */
    /* height: 100%; */
}

.form__input-input {
    align-items: center;
    margin: auto 0;
    padding-left: 30px;
    border-radius: 5px;
    /* padding: 10px ; */
}


.form__input-label {
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 20px; transition: .3s;

}

